/*  Calendar style  */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Arial";
}

body {
  background-color: #414444;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #414444;
  color: #598d8f;
}

.calendar {
  width: 75rem;
  min-width: 75rem;
  height: 52rem;
  background-color: #598d8f;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.month {
  width: 100%;
  height: 8rem;
  background-color: #282c2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 5rem;
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.2rem;
  margin-top: 0.2rem;
}

.month p {
  margin-bottom: 0.5rem;
}

.year {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.export {
  font-size: 1.5rem;
  padding: 0.4rem;
  cursor: pointer;
  background-color: #141414;
}

.import .button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #598d8f;
  background-color: #141414;
  padding: 0.4rem;
}

::-webkit-file-upload-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  color: #598d8f;
  background-color: #141414;
  padding: 0.4rem;
}

.weekdays {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #141414;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(70.2rem / 7);
  height: 6.5rem;
  align-items: center;
  background-color: #282c2c;
}

.days p {
  height: 4rem;
  font-size: 0.7rem;
  color: aqua;
  padding-left: 0.5rem;
  word-wrap: break-word;
  pointer-events: none;
  overflow-y: auto;
}

.days div:hover:not(.today) {
  border-style: solid;
  border-color: #598d8f;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  border-style: solid;
  border-color: #d4d4d4;
  cursor: pointer;
}

:root {
  --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
  --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
  --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
  --omrs-color-interaction: #1e4bd1;
  --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
  --omrs-color-bg-low-contrast: #1bdb25;
  --omrs-color-ink-high-contrast: #121212;
  --omrs-color-bg-high-contrast: #d80cbd;
}

.event-section {
  margin-bottom: 1.5rem;
  width: 20.4375rem;
  padding: 0rem 0rem 1rem 0rem;
}

.omrs-input-underlined > input {
  border: none;
  border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
  width: 100%;
  height: 2rem;
  font-size: 1.0625rem;
  padding-left: 0.875rem;
  line-height: 147.6%;
  padding-top: 0.825rem;
  padding-bottom: 0.5rem;
}

.omrs-input-underlined > input:focus {
  outline: none;
}

.omrs-input-underlined > .omrs-input-label {
  position: absolute;
  top: 0.9375rem;
  left: 0.875rem;
  line-height: 147.6%;
  color: var(--omrs-color-ink-medium-contrast);
  transition: top 0.2s;
}

.omrs-input-underlined > svg {
  position: absolute;
  top: 0.9375rem;
  right: 0.875rem;
  fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined > .omrs-input-helper {
  font-size: 0.9375rem;
  color: var(--omrs-color-ink-medium-contrast);
  letter-spacing: 0.0275rem;
  margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover {
  background: var(--omrs-color-interaction-minus-two);
  border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label {
  top: 0;
  font-size: 0.9375rem;
  margin-bottom: 32px;
}
.event-modal {
  width: 75rem;
  height: 43rem;
  position: absolute;
  border-style: solid;
  border-width: 0.8rem;
  border-color: #598d8f;
  z-index: 10;
  background-color: #282c2c;
  left: 50%;
  transform: translate(-50%, 0%) scale(0);
  justify-content: space-evenly;
  align-items: center;
}

.event-modal.active {
  transform: translate(-50%, 21%) scale(1);
}

.event-modal-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.25rem solid #598d8f;
}

.event-modal-header #title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.event-modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: #598d8f;
}

#event-modal-body {
  padding: 1rem;
  height: 36rem;
  transform: translate(0%, 1%);
  overflow-y: auto;
}

/* .event-section {
  padding: 0rem 0rem 1rem 0rem;
} */

.event-section b {
  font-weight: bold;
  font-size: 1.5rem;
  justify-content: right;
  text-align: center;
}

/* .event-section input {
  border: none;
  background-color: #598d8f;
  outline: none;
} */

/* Warning messages */

.error-notice {
  margin: 5px; /* Make sure to keep some distance from all sides */
}

.oaerror {
  width: 80%;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  margin: 10px auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.danger {
  border-left-color: #d9534f; /* Left side border color */
  background-color: rgba(
    217,
    83,
    79,
    0.1
  ); /*Same color as the left border with reduced alpha to 0.1*/
}

.danger strong {
  color: #d9534f;
}

.warning {
  border-left-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}

.warning strong {
  color: #f0ad4e;
}

.info {
  border-left-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.1);
}

.info strong {
  color: #5bc0de;
}

.success {
  border-left-color: #2b542c;
  background-color: rgba(43, 84, 44, 0.1);
}

.success strong {
  color: #2b542c;
}
